@charset "UTF-8";
@media only screen and (max-width: 1199px) {
  .wrap {
    width: 100%;
    padding: 0 10px; }

  body {
    display: flex;
    flex-direction: column; }

  #header {
    display: none; }

  .header_mobile {
    display: block;
    background-color: #cd0000; }
    .header_mobile_list {
      display: flex;
      position: relative;
      align-items: center; }
    .header_mobile_left a img {
      max-width: 50%; }
    .header_mobile_right {
      position: absolute;
      right: 0;
      display: flex; }
      .header_mobile_right .cart {
        position: relative; }
        .header_mobile_right .cart a span {
          position: absolute;
          top: -8px;
          left: 14px; }
          .header_mobile_right .cart a span i {
            font-size: 20px;
            color: #1aceff; }
      .header_mobile_right .menu_click {
        margin-left: 30px; }
        .header_mobile_right .menu_click a i {
          font-size: 28px; }
    .header_mobile_search {
      width: 100%;
      height: 30px;
      float: left;
      position: relative; }
      .header_mobile_search form input {
        width: 100%;
        padding: 5px;
        font-size: 15px;
        border: none;
        float: left;
        border-radius: 8px; }
      .header_mobile_search form button {
        width: 30px;
        height: 26px;
        position: absolute;
        margin: 1px 0 0 -32px;
        border: none;
        color: #fff;
        background: #cd0000;
        border-radius: 8px; }
    .header_mobile .header_mobile_menu {
      display: none;
      background-color: #f4f4f4;
      z-index: 99999;
      top: 53px;
      left: 50%;
      transform: translateX(-50%);
      padding: 10px 10px;
      width: 94%;
      position: absolute;
      border-radius: 5px; }
      .header_mobile .header_mobile_menu ul {
        display: flex;
        flex-wrap: wrap; }
        .header_mobile .header_mobile_menu ul li {
          border: 1.5px solid #f15b67;
          margin: 5px;
          width: 30%;
          height: 90px;
          border-radius: 5px;
          display: flex;
          justify-content: center;
          align-items: center; }
          .header_mobile .header_mobile_menu ul li a {
            display: flex;
            flex-direction: column;
            align-items: center; }
            .header_mobile .header_mobile_menu ul li a .all-icon {
              margin-bottom: 5px; }
              .header_mobile .header_mobile_menu ul li a .all-icon img {
                width: 50px;
                overflow: hidden;
                object-fit: cover;
                margin-right: 0;
                vertical-align: middle; }
            .header_mobile .header_mobile_menu ul li a span {
              color: #333;
              font-size: 10px;
              font-weight: bold;
              display: block;
              text-transform: uppercase; }

  /*banner*/
  .banner {
    margin-top: 5px; }
    .banner .wrap {
      flex-direction: column;
      flex-wrap: wrap; }
    .banner_left {
      width: 100%;
      margin-right: 0; }
      .banner_left_list {
        display: none; }
    .banner_right {
      display: none; }

  /*content*/
  .content_title {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #fff;
    height: 40px; }
    .content_title::before {
      position: absolute;
      content: '';
      height: 40px;
      width: 3px;
      background-color: #cd0000; }
    .content_title #title_content {
      text-transform: uppercase;
      margin-left: 15px;
      color: #cd0000;
      font-weight: 600; }
    .content_title ul {
      display: none; }
  .content_list {
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    /*linh kiện điệ thoại*/ }
    .content_list_item {
      width: 33.333%;
      border-right-width: 1px;
      border-bottom-width: 1px;
      border-style: solid;
      border-color: #e1e1e1;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 10px 10px;
      position: relative; }
      .content_list_item a {
        display: block; }
      .content_list_item .img {
        width: 100%;
        overflow: hidden;
        height: 330px; }
        .content_list_item .img img {
          height: 100%;
          width: 100%;
          object-fit: cover; }
      .content_list_item .infor {
        width: 100%;
        margin-top: 10px;
        transition: all ease 0.5s; }
        .content_list_item .infor i {
          display: none; }
        .content_list_item .infor p#view {
          color: #ee0000;
          display: block;
          font-size: 20px;
          text-transform: uppercase;
          font-weight: bold; }
        .content_list_item .infor #title {
          font-weight: unset;
          font-size: 14px;
          height: 40px;
          line-height: 20px;
          overflow: hidden; }
      .content_list_item .hover {
        display: none; }
        .content_list_item .hover #title {
          font-size: 14px;
          height: 22px;
          line-height: 22px;
          overflow: hidden; }
        .content_list_item .hover p {
          float: left;
          text-align: left;
          width: 100%;
          line-height: 20px; }
      .content_list_item .shopping_cart {
        position: absolute;
        top: 108px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        visibility: hidden;
        opacity: 0;
        transition: all ease 0.5s; }
        .content_list_item .shopping_cart p {
          height: 30px;
          width: 30px;
          line-height: 30px;
          display: block;
          border-radius: 25px; }
          .content_list_item .shopping_cart p i {
            line-height: 25px;
            text-align: center; }
        .content_list_item .shopping_cart p#phone {
          background-color: #fff;
          margin-right: 10px; }
          .content_list_item .shopping_cart p#phone i {
            color: #000; }
        .content_list_item .shopping_cart p#cart {
          background-color: #cd0000; }
          .content_list_item .shopping_cart p#cart i {
            color: #fff; }
      .content_list_item:hover {
        border: 1px solid #cd0000;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3); }
        .content_list_item:hover .hover {
          display: none; }
        .content_list_item:hover .infor {
          visibility: visible;
          opacity: 1; }
        .content_list_item:hover .shopping_cart {
          visibility: visible;
          opacity: 1; }
    .content_list_accessories#list_product {
      width: 50% !important; }
      .content_list_accessories#list_product .img {
        height: 200px !important; }
    .content_list_accessories {
      width: 33.333%;
      border-right-width: 1px;
      border-bottom-width: 1px;
      border-style: solid;
      border-color: #e1e1e1;
      padding: 10px 10px;
      position: relative; }
      .content_list_accessories .img {
        width: 100%;
        overflow: hidden;
        height: 320px;
        display: flex;
        align-items: center;
        justify-content: center; }
        .content_list_accessories .img img {
          height: 100%;
          max-width: 90%;
          object-fit: cover; }
      .content_list_accessories .infor {
        width: 100%;
        margin-top: 10px;
        transition: all ease 0.5s;
        text-align: center; }
        .content_list_accessories .infor #title {
          font-weight: unset;
          font-size: 14px;
          height: 40px;
          line-height: 20px;
          overflow: hidden; }
        .content_list_accessories .infor #price strong {
          color: #cd0000; }
  .content_price-list {
    display: flex;
    flex-wrap: wrap; }
    .content_price-list a {
      display: block;
      width: 50%;
      border-right-width: 1px;
      border-bottom-width: 1px;
      border-style: solid;
      border-color: #e1e1e1; }
      .content_price-list a .img {
        width: 100%;
        overflow: hidden;
        height: 100%; }
        .content_price-list a .img img {
          width: 100%;
          height: 100%;
          object-fit: cover; }

  .customer {
    order: 2;
    margin-bottom: 30px; }
    .customer_form {
      display: none; }
    .customer_check {
      width: 100%; }
      .customer_check_form form {
        display: flex;
        flex-direction: column; }
        .customer_check_form form select {
          width: 100%; }
        .customer_check_form form input.gcf-info {
          width: 100%;
          margin: 10px 0; }
        .customer_check_form form input.gcf-submit {
          width: 100%; }
      .customer_check .note {
        margin: 5px 0;
        padding: 0 10px; }

  .footer {
    display: none; }

  footer-bottom {
    display: none; }

  .news {
    order: 1; }
    .news_list {
      display: flex; }
      .news_list_item {
        width: 100%;
        margin-right: 0; }
        .news_list_item .infor {
          position: absolute;
          background-color: #f5f4f4;
          left: 0;
          right: 0;
          bottom: 10px;
          margin: 0 20px;
          padding: 5px 20px; }

  .mobile_footer {
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #e1e1e1; }
    .mobile_footer .wrap {
      display: flex;
      padding: 10px 0; }
      .mobile_footer .wrap a {
        width: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 10px; }
        .mobile_footer .wrap a img {
          max-width: 40px;
          max-height: 40px;
          overflow: hidden;
          object-fit: cover; }

  .service {
    margin-bottom: 0; }
    .service .wrap {
      flex-direction: column; }
    .service_left {
      width: 100%; }
      .service_left .menu_item {
        display: none; }
      .service_left_mobile_list_select {
        display: flex; }
        .service_left_mobile_list_select select {
          height: 28px;
          border-radius: 5px;
          background-color: #cd0000;
          color: #fff;
          width: 50%; }
          .service_left_mobile_list_select select:first-child {
            margin-right: 10px; }
    .service_right {
      width: 100%; }
      .service_right .category-content-title .category-search {
        display: none; }

  /*
    chi tiết dịch vụ
  */
  .service_detail .wrap .title {
    border-bottom: unset; }
    .service_detail .wrap .title .show-rate a span {
      color: #2d69c4; }
  .service_detail .content_service {
    flex-direction: column; }
    .service_detail .content_service .news_right {
      display: none; }
  .service_detail_left {
    width: 100%;
    margin-right: 0; }
    .service_detail_left .detail_slide {
      flex-direction: column;
      width: 100%; }
      .service_detail_left .detail_slide .slide {
        width: 100%; }
      .service_detail_left .detail_slide .detail {
        width: 100%; }
    .service_detail_left .m_detail {
      border-bottom: none;
      margin: unset;
      padding: unset;
      margin-bottom: 10px;
      margin-top: 15px; }
      .service_detail_left .m_detail .product {
        flex-direction: column;
        align-items: unset;
        margin-top: 15px; }
        .service_detail_left .m_detail .product > a {
          width: 100%; }
        .service_detail_left .m_detail .product .order {
          width: 100%;
          margin-top: 20px; }
    .service_detail_left .m_comment #detail-comment-tab {
      border-bottom: none; }
      .service_detail_left .m_comment #detail-comment-tab .detail-comment-title {
        width: 100%;
        border-bottom: 1px solid #9c9c9c;
        padding-bottom: 10px;
        margin-bottom: 10px; }
      .service_detail_left .m_comment #detail-comment-tab .detail-rating {
        float: left; }

  .news#new_category {
    flex-direction: column; }
    .news#new_category .news_left {
      width: 100%;
      margin-right: 0; }
      .news#new_category .news_left_hot {
        flex-direction: column;
        width: 100%; }
        .news#new_category .news_left_hot .list {
          width: 100%; }
          .news#new_category .news_left_hot .list a .infor p#detail {
            display: none; }
          .news#new_category .news_left_hot .list:last-child {
            display: none; }
      .news#new_category .news_left_all .item a .infor {
        display: flex;
        flex-direction: column; }
        .news#new_category .news_left_all .item a .infor p#time {
          order: 2; }
        .news#new_category .news_left_all .item a .infor #title {
          order: 1; }
        .news#new_category .news_left_all .item a .infor p#detail {
          display: none; }
    .news#new_category .news_right {
      display: none; }

  .popup {
    left: 50% !important;
    width: 94%;
    transform: translateX(-50%); }
    .popup_main {
      display: flex;
      flex-direction: column; }
      .popup_main .popup_product_info, .popup_main .popup_customer_info {
        width: 100%; }
        .popup_main .popup_product_info #customer-gender, .popup_main .popup_customer_info #customer-gender {
          width: 100%; }
        .popup_main .popup_product_info input, .popup_main .popup_customer_info input {
          width: 100%;
          float: left; }
        .popup_main .popup_product_info #customer-name, .popup_main .popup_product_info #customer-phone, .popup_main .popup_product_info #customer-email, .popup_main .popup_customer_info #customer-name, .popup_main .popup_customer_info #customer-phone, .popup_main .popup_customer_info #customer-email {
          float: left;
          width: 100%; }

  #image_cart {
    display: none; }

  #stt_cart {
    display: none; }

  .page_order .form_order .row_list {
    flex-direction: column; }
    .page_order .form_order .row_list .col-md-4 {
      width: 100%;
      float: left;
      margin-right: 0;
      margin-bottom: 20px; }
      .page_order .form_order .row_list .col-md-4 .box_order .list_input input {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 10px;
        border: 1px solid #eee; }
      .page_order .form_order .row_list .col-md-4 .box_order textarea {
        width: 100%;
        margin-top: 20px;
        padding: 10px; }
  .page_order .form_order .list_btn .btn_order button {
    width: auto; }

  #footer_infor_mobile {
    order: 3;
    margin-bottom: 90px; }
    #footer_infor_mobile .footer-support {
      display: flex;
      background: #fff;
      flex-wrap: wrap; }
      #footer_infor_mobile .footer-support-item {
        width: 50%;
        border-style: solid;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-color: #e1e1e1;
        padding: 15px 0;
        text-align: center; }
        #footer_infor_mobile .footer-support-item a {
          color: #d0021b !important;
          font-size: 18px; }
        #footer_infor_mobile .footer-support-item select {
          border: 0;
          color: #278AD6; }

  .fancybox-overlay-fixed .fancybox-desktop {
    width: 90% !important;
    height: auto;
    position: absolute;
    top: 202px;
    left: 50% !important;
    opacity: 1;
    overflow: visible;
    transform: translateX(-50%) !important; }
    .fancybox-overlay-fixed .fancybox-desktop .fancybox-skin .fancybox-outer .fancybox-inner {
      width: auto !important; } }
@media only screen and (max-width: 991px) {
  .wrap {
    width: 100%;
    padding: 0 10px; }

  body {
    display: flex;
    flex-direction: column; }

  #header {
    display: none; }

  .header_mobile {
    display: block;
    background-color: #cd0000; }
    .header_mobile_list {
      display: flex;
      position: relative;
      align-items: center; }
    .header_mobile_search {
      width: 100%;
      height: 30px;
      float: left;
      position: relative; }
      .header_mobile_search form input {
        width: 100%;
        padding: 5px;
        font-size: 15px;
        border: none;
        float: left;
        border-radius: 8px; }
      .header_mobile_search form button {
        width: 30px;
        height: 26px;
        position: absolute;
        margin: 1px 0 0 -32px;
        border: none;
        color: #fff;
        background: #cd0000;
        border-radius: 8px; }
    .header_mobile_left a img {
      max-width: 50%; }
    .header_mobile_right {
      position: absolute;
      right: 0;
      display: flex; }
      .header_mobile_right .cart {
        position: relative; }
        .header_mobile_right .cart a span {
          position: absolute;
          top: -8px;
          left: 14px; }
          .header_mobile_right .cart a span i {
            font-size: 20px;
            color: #1aceff; }
      .header_mobile_right .menu_click {
        margin-left: 30px; }
        .header_mobile_right .menu_click a i {
          font-size: 28px; }
    .header_mobile .header_mobile_menu {
      display: none;
      background-color: #f4f4f4;
      z-index: 99999;
      top: 53px;
      left: 50%;
      transform: translateX(-50%);
      padding: 10px 10px;
      width: 94%;
      position: absolute;
      border-radius: 5px; }
      .header_mobile .header_mobile_menu ul {
        display: flex;
        flex-wrap: wrap; }
        .header_mobile .header_mobile_menu ul li {
          border: 1.5px solid #f15b67;
          margin: 5px;
          width: 30%;
          height: 90px;
          border-radius: 5px;
          display: flex;
          justify-content: center;
          align-items: center; }
          .header_mobile .header_mobile_menu ul li a {
            display: flex;
            flex-direction: column;
            align-items: center; }
            .header_mobile .header_mobile_menu ul li a .all-icon {
              margin-bottom: 5px; }
              .header_mobile .header_mobile_menu ul li a .all-icon img {
                width: 50px;
                overflow: hidden;
                object-fit: cover;
                margin-right: 0;
                vertical-align: middle; }
            .header_mobile .header_mobile_menu ul li a span {
              color: #333;
              font-size: 10px;
              font-weight: bold;
              display: block;
              text-transform: uppercase; }

  /*banner*/
  .banner {
    margin-top: 5px; }
    .banner .wrap {
      flex-direction: column;
      flex-wrap: wrap; }
    .banner_left {
      width: 100%;
      margin-right: 0; }
      .banner_left_list {
        display: none; }
    .banner_right {
      display: none; }

  /*content*/
  .content_title {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #fff;
    height: 40px; }
    .content_title::before {
      position: absolute;
      content: '';
      height: 40px;
      width: 3px;
      background-color: #cd0000; }
    .content_title #title_content {
      text-transform: uppercase;
      margin-left: 15px;
      color: #cd0000;
      font-weight: 600; }
    .content_title ul {
      display: none; }
  .content_list {
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    /*linh kiện điệ thoại*/ }
    .content_list_item {
      width: 25%;
      border-right-width: 1px;
      border-bottom-width: 1px;
      border-style: solid;
      border-color: #e1e1e1;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 10px 10px;
      position: relative; }
      .content_list_item a {
        display: block; }
      .content_list_item .img {
        width: 100%;
        overflow: hidden;
        height: 200px; }
        .content_list_item .img img {
          height: 100%;
          max-width: 90%;
          object-fit: cover; }
      .content_list_item .infor {
        width: 100%;
        margin-top: 10px;
        transition: all ease 0.5s; }
        .content_list_item .infor i {
          display: none; }
        .content_list_item .infor p#view {
          color: #ee0000;
          display: block;
          font-size: 20px;
          text-transform: uppercase;
          font-weight: bold; }
        .content_list_item .infor #title {
          font-weight: unset;
          font-size: 14px;
          height: 40px;
          line-height: 20px;
          overflow: hidden; }
      .content_list_item .hover {
        display: none; }
        .content_list_item .hover #title {
          font-size: 14px;
          height: 22px;
          line-height: 22px;
          overflow: hidden; }
        .content_list_item .hover p {
          float: left;
          text-align: left;
          width: 100%;
          line-height: 20px; }
      .content_list_item .shopping_cart {
        position: absolute;
        top: 108px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        visibility: hidden;
        opacity: 0;
        transition: all ease 0.5s; }
        .content_list_item .shopping_cart p {
          height: 30px;
          width: 30px;
          line-height: 30px;
          display: block;
          border-radius: 25px; }
          .content_list_item .shopping_cart p i {
            line-height: 25px;
            text-align: center; }
        .content_list_item .shopping_cart p#phone {
          background-color: #fff;
          margin-right: 10px; }
          .content_list_item .shopping_cart p#phone i {
            color: #000; }
        .content_list_item .shopping_cart p#cart {
          background-color: #cd0000; }
          .content_list_item .shopping_cart p#cart i {
            color: #fff; }
      .content_list_item:hover {
        border: 1px solid #cd0000;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3); }
        .content_list_item:hover .hover {
          display: none; }
        .content_list_item:hover .infor {
          visibility: visible;
          opacity: 1; }
        .content_list_item:hover .shopping_cart {
          visibility: visible;
          opacity: 1; }
    .content_list_accessories#list_product {
      width: 25% !important; }
      .content_list_accessories#list_product .img {
        height: 200px !important; }
    .content_list_accessories {
      width: 25%;
      border-right-width: 1px;
      border-bottom-width: 1px;
      border-style: solid;
      border-color: #e1e1e1;
      padding: 10px 10px;
      position: relative; }
      .content_list_accessories .img {
        width: 100%;
        overflow: hidden;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center; }
        .content_list_accessories .img img {
          height: 100%;
          max-width: 90%;
          object-fit: cover; }
      .content_list_accessories .infor {
        width: 100%;
        margin-top: 10px;
        transition: all ease 0.5s;
        text-align: center; }
        .content_list_accessories .infor #title {
          font-weight: unset;
          font-size: 14px;
          height: 40px;
          line-height: 20px;
          overflow: hidden; }
        .content_list_accessories .infor #price strong {
          color: #cd0000; }
  .content_price-list {
    display: flex;
    flex-wrap: wrap; }
    .content_price-list a {
      display: block;
      width: 25%;
      border-right-width: 1px;
      border-bottom-width: 1px;
      border-style: solid;
      border-color: #e1e1e1; }
      .content_price-list a .img {
        width: 100%;
        overflow: hidden;
        height: 100%; }
        .content_price-list a .img img {
          width: 100%;
          height: 100%;
          object-fit: cover; }

  .customer {
    order: 2;
    margin-bottom: 30px; }
    .customer_form {
      display: none; }
    .customer_check {
      width: 100%; }
      .customer_check_form form {
        display: flex;
        flex-direction: column; }
        .customer_check_form form select {
          width: 100%; }
        .customer_check_form form input.gcf-info {
          width: 100%;
          margin: 10px 0; }
        .customer_check_form form input.gcf-submit {
          width: 100%; }
      .customer_check .note {
        margin: 5px 0;
        padding: 0 10px; }

  .footer {
    display: none; }

  footer-bottom {
    display: none; }

  .news {
    order: 1; }
    .news_list {
      flex-direction: unset;
      display: flex;
      flex-wrap: wrap; }
      .news_list_item {
        width: 33.33%;
        margin-right: 0;
        padding: 0 5px; }
        .news_list_item .infor {
          position: absolute;
          background-color: #f5f4f4;
          left: 0;
          right: 0;
          bottom: 10px;
          margin: 0 20px;
          padding: 5px 20px; }

  .mobile_footer {
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #e1e1e1; }
    .mobile_footer .wrap {
      display: flex;
      padding: 10px 0; }
      .mobile_footer .wrap a {
        width: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 10px; }
        .mobile_footer .wrap a img {
          max-width: 40px;
          max-height: 40px;
          overflow: hidden;
          object-fit: cover; }

  .service {
    margin-bottom: 0; }
    .service .wrap {
      flex-direction: column; }
    .service_left {
      width: 100%; }
      .service_left .menu_item {
        display: none; }
      .service_left_mobile_list_select {
        display: flex; }
        .service_left_mobile_list_select select {
          height: 28px;
          border-radius: 5px;
          background-color: #cd0000;
          color: #fff;
          width: 50%; }
          .service_left_mobile_list_select select:first-child {
            margin-right: 10px; }
    .service_right {
      width: 100%; }
      .service_right .category-content-title .category-search {
        display: none; }

  /*
    chi tiết dịch vụ
  */
  .service_detail .wrap .title {
    border-bottom: unset; }
    .service_detail .wrap .title .show-rate a span {
      color: #2d69c4; }
  .service_detail .content_service {
    flex-direction: column; }
    .service_detail .content_service .news_right {
      display: none; }
  .service_detail_left {
    width: 100%;
    margin-right: 0; }
    .service_detail_left .detail_slide {
      flex-direction: column;
      width: 100%; }
      .service_detail_left .detail_slide .slide {
        width: 100%; }
      .service_detail_left .detail_slide .detail {
        width: 100%; }
    .service_detail_left .m_detail {
      border-bottom: none;
      margin: unset;
      padding: unset;
      margin-bottom: 10px;
      margin-top: 15px; }
      .service_detail_left .m_detail .product {
        flex-direction: column;
        align-items: unset;
        margin-top: 15px; }
        .service_detail_left .m_detail .product > a {
          width: 100%; }
        .service_detail_left .m_detail .product .order {
          width: 100%;
          margin-top: 20px; }
    .service_detail_left .m_comment #detail-comment-tab {
      border-bottom: none; }
      .service_detail_left .m_comment #detail-comment-tab .detail-comment-title {
        width: 100%;
        border-bottom: 1px solid #9c9c9c;
        padding-bottom: 10px;
        margin-bottom: 10px; }
      .service_detail_left .m_comment #detail-comment-tab .detail-rating {
        float: left; }

  .news#new_category {
    flex-direction: column; }
    .news#new_category .news_left {
      width: 100%;
      margin-right: 0; }
      .news#new_category .news_left_hot {
        flex-direction: column;
        width: 100%; }
        .news#new_category .news_left_hot .list {
          width: 100%; }
          .news#new_category .news_left_hot .list a .infor p#detail {
            display: none; }
          .news#new_category .news_left_hot .list:last-child {
            display: none; }
      .news#new_category .news_left_all .item a .infor {
        display: flex;
        flex-direction: column; }
        .news#new_category .news_left_all .item a .infor p#time {
          order: 2; }
        .news#new_category .news_left_all .item a .infor #title {
          order: 1; }
        .news#new_category .news_left_all .item a .infor p#detail {
          display: none; }
    .news#new_category .news_right {
      display: none; }

  .popup {
    left: 50% !important;
    width: 94%;
    transform: translateX(-50%); }
    .popup_main {
      display: flex;
      flex-direction: column; }
      .popup_main .popup_product_info, .popup_main .popup_customer_info {
        width: 100%; }
        .popup_main .popup_product_info #customer-gender, .popup_main .popup_customer_info #customer-gender {
          width: 100%; }
        .popup_main .popup_product_info input, .popup_main .popup_customer_info input {
          width: 100%;
          float: left; }
        .popup_main .popup_product_info #customer-name, .popup_main .popup_product_info #customer-phone, .popup_main .popup_product_info #customer-email, .popup_main .popup_customer_info #customer-name, .popup_main .popup_customer_info #customer-phone, .popup_main .popup_customer_info #customer-email {
          float: left;
          width: 100%; }

  #image_cart {
    display: none; }

  #stt_cart {
    display: none; }

  .page_order .form_order .row_list {
    flex-direction: column; }
    .page_order .form_order .row_list .col-md-4 {
      width: 100%;
      float: left;
      margin-right: 0;
      margin-bottom: 20px; }
      .page_order .form_order .row_list .col-md-4 .box_order .list_input input {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 10px;
        border: 1px solid #eee; }
      .page_order .form_order .row_list .col-md-4 .box_order textarea {
        width: 100%;
        margin-top: 20px;
        padding: 10px; }
  .page_order .form_order .list_btn .btn_order button {
    width: auto; }

  #footer_infor_mobile {
    order: 3;
    margin-bottom: 90px; }
    #footer_infor_mobile .footer-support {
      display: flex;
      background: #fff;
      flex-wrap: wrap; }
      #footer_infor_mobile .footer-support-item {
        width: 50%;
        border-style: solid;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-color: #e1e1e1;
        padding: 15px 0;
        text-align: center; }
        #footer_infor_mobile .footer-support-item a {
          color: #d0021b !important;
          font-size: 18px; }
        #footer_infor_mobile .footer-support-item select {
          border: 0;
          color: #278AD6; }

  /*
contact
*/
  .contact .wrap h1#title {
    font-size: 20px;
    color: #cd0000;
    display: none; }
  .contact .wrap .map_contact {
    display: none; }
  .contact_list {
    flex-direction: column;
    background: #e1e1e1;
    padding: 10px;
    margin-bottom: 0; }
    .contact_list .left {
      display: block; }
    .contact_list .right {
      width: 100%; }
      .contact_list .right .form_contact form .form-group {
        margin-bottom: 10px; }
        .contact_list .right .form_contact form .form-group input, .contact_list .right .form_contact form .form-group textarea {
          padding: 10px 10px;
          resize: vertical;
          border: 1px solid #dedede;
          outline: none;
          transition: 0.3s all ease;
          box-sizing: border-box;
          width: 100%; }
      .contact_list .right .form_contact form #email_phone {
        display: flex;
        flex-wrap: wrap; }
        .contact_list .right .form_contact form #email_phone input {
          width: 100%; }
          .contact_list .right .form_contact form #email_phone input:first-child {
            margin-right: 0;
            margin-bottom: 10px; }
      .contact_list .right .form_contact form #contact_buttom {
        text-align: center;
        background-color: #cd0000;
        color: #fff;
        display: block;
        width: 100%;
        padding: 10px 0;
        cursor: pointer; } }
@media only screen and (max-width: 767px) {
  .modal .modal-content {
    width: 90%; }

  .moal_form {
    margin: 0 10px;
    margin-top: 15px; }

  .wrap {
    width: 100%;
    padding: 0 10px; }

  body {
    display: flex;
    flex-direction: column; }

  #header {
    display: none; }

  .header_mobile {
    display: block;
    background-color: #cd0000; }
    .header_mobile_list {
      display: flex;
      position: relative;
      align-items: center; }
    .header_mobile_left a img {
      max-width: 50%; }
    .header_mobile_right {
      position: absolute;
      right: 0;
      display: flex; }
      .header_mobile_right .cart {
        position: relative; }
        .header_mobile_right .cart a span {
          position: absolute;
          top: -8px;
          left: 14px; }
          .header_mobile_right .cart a span i {
            font-size: 20px;
            color: #1aceff; }
      .header_mobile_right .menu_click {
        margin-left: 30px; }
        .header_mobile_right .menu_click a i {
          font-size: 28px; }
    .header_mobile_search {
      width: 100%;
      height: 30px;
      float: left;
      position: relative; }
      .header_mobile_search form input {
        width: 100%;
        padding: 5px;
        font-size: 15px;
        border: none;
        float: left;
        border-radius: 8px; }
      .header_mobile_search form button {
        width: 30px;
        height: 26px;
        position: absolute;
        margin: 1px 0 0 -32px;
        border: none;
        color: #fff;
        background: #cd0000;
        border-radius: 8px; }
    .header_mobile .header_mobile_menu {
      display: none;
      background-color: #f4f4f4;
      z-index: 99999;
      top: 53px;
      left: 50%;
      transform: translateX(-50%);
      padding: 10px 10px;
      width: 94%;
      position: absolute;
      border-radius: 5px; }
      .header_mobile .header_mobile_menu ul {
        display: flex;
        flex-wrap: wrap; }
        .header_mobile .header_mobile_menu ul li {
          border: 1.5px solid #f15b67;
          margin: 5px;
          width: 30%;
          height: 90px;
          border-radius: 5px;
          display: flex;
          justify-content: center;
          align-items: center; }
          .header_mobile .header_mobile_menu ul li a {
            display: flex;
            flex-direction: column;
            align-items: center; }
            .header_mobile .header_mobile_menu ul li a .all-icon {
              margin-bottom: 5px; }
              .header_mobile .header_mobile_menu ul li a .all-icon img {
                width: 50px;
                overflow: hidden;
                object-fit: cover;
                margin-right: 0;
                vertical-align: middle; }
            .header_mobile .header_mobile_menu ul li a span {
              color: #333;
              font-size: 10px;
              font-weight: bold;
              display: block;
              text-transform: uppercase; }

  /*banner*/
  .banner {
    margin-top: 5px; }
    .banner .wrap {
      flex-direction: column;
      flex-wrap: wrap; }
    .banner_left {
      width: 100%;
      margin-right: 0; }
      .banner_left_list {
        display: none; }
    .banner_right {
      display: none; }

  /*content*/
  .content_title {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #fff;
    height: 40px; }
    .content_title::before {
      position: absolute;
      content: '';
      height: 40px;
      width: 3px;
      background-color: #cd0000; }
    .content_title #title_content {
      text-transform: uppercase;
      margin-left: 15px;
      color: #cd0000;
      font-weight: 600; }
    .content_title ul {
      display: none; }
  .content_list {
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    /*linh kiện điệ thoại*/ }
    .content_list_item {
      width: 33.333%;
      border-right-width: 1px;
      border-bottom-width: 1px;
      border-style: solid;
      border-color: #e1e1e1;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 10px 10px;
      position: relative; }
      .content_list_item a {
        display: block; }
      .content_list_item .img {
        width: 100%;
        overflow: hidden;
        height: 250px; }
        .content_list_item .img img {
          height: 100%;
          max-width: 90%;
          object-fit: cover; }
      .content_list_item .infor {
        width: 100%;
        margin-top: 10px;
        transition: all ease 0.5s; }
        .content_list_item .infor i {
          display: none; }
        .content_list_item .infor p#view {
          color: #ee0000;
          display: block;
          font-size: 20px;
          text-transform: uppercase;
          font-weight: bold; }
        .content_list_item .infor #title {
          font-weight: unset;
          font-size: 14px;
          height: 40px;
          line-height: 20px;
          overflow: hidden; }
      .content_list_item .hover {
        display: none; }
        .content_list_item .hover #title {
          font-size: 14px;
          height: 22px;
          line-height: 22px;
          overflow: hidden; }
        .content_list_item .hover p {
          float: left;
          text-align: left;
          width: 100%;
          line-height: 20px; }
      .content_list_item .shopping_cart {
        position: absolute;
        top: 108px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        visibility: hidden;
        opacity: 0;
        transition: all ease 0.5s; }
        .content_list_item .shopping_cart p {
          height: 30px;
          width: 30px;
          line-height: 30px;
          display: block;
          border-radius: 25px; }
          .content_list_item .shopping_cart p i {
            line-height: 25px;
            text-align: center; }
        .content_list_item .shopping_cart p#phone {
          background-color: #fff;
          margin-right: 10px; }
          .content_list_item .shopping_cart p#phone i {
            color: #000; }
        .content_list_item .shopping_cart p#cart {
          background-color: #cd0000; }
          .content_list_item .shopping_cart p#cart i {
            color: #fff; }
      .content_list_item:hover {
        border: 1px solid #cd0000;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3); }
        .content_list_item:hover .hover {
          display: none; }
        .content_list_item:hover .infor {
          visibility: visible;
          opacity: 1; }
        .content_list_item:hover .shopping_cart {
          visibility: visible;
          opacity: 1; }
    .content_list_accessories#list_product {
      width: 33.333% !important; }
      .content_list_accessories#list_product .img {
        height: 200px !important; }
    .content_list_accessories {
      width: 33.333%;
      border-right-width: 1px;
      border-bottom-width: 1px;
      border-style: solid;
      border-color: #e1e1e1;
      padding: 10px 10px;
      position: relative; }
      .content_list_accessories .img {
        width: 100%;
        overflow: hidden;
        height: 250px;
        display: flex;
        align-items: center;
        justify-content: center; }
        .content_list_accessories .img img {
          height: 100%;
          max-width: 90%;
          object-fit: cover; }
      .content_list_accessories .infor {
        width: 100%;
        margin-top: 10px;
        transition: all ease 0.5s;
        text-align: center; }
        .content_list_accessories .infor #title {
          font-weight: unset;
          font-size: 14px;
          height: 40px;
          line-height: 20px;
          overflow: hidden; }
        .content_list_accessories .infor #price strong {
          color: #cd0000; }
  .content_price-list {
    display: flex;
    flex-wrap: wrap; }
    .content_price-list a {
      display: block;
      width: 33.333%;
      border-right-width: 1px;
      border-bottom-width: 1px;
      border-style: solid;
      border-color: #e1e1e1; }
      .content_price-list a .img {
        width: 100%;
        overflow: hidden;
        height: 100%; }
        .content_price-list a .img img {
          width: 100%;
          height: 100%;
          object-fit: cover; }

  .customer {
    order: 2;
    margin-bottom: 30px; }
    .customer_form {
      display: none; }
    .customer_check {
      width: 100%; }
      .customer_check_form form {
        display: flex;
        flex-direction: column; }
        .customer_check_form form select {
          width: 100%; }
        .customer_check_form form input.gcf-info {
          width: 100%;
          margin: 10px 0; }
        .customer_check_form form input.gcf-submit {
          width: 100%; }
      .customer_check .note {
        margin: 5px 0;
        padding: 0 10px; }

  .footer {
    display: none; }

  footer-bottom {
    display: none; }

  .news {
    order: 1; }
    .news_list {
      flex-direction: unset;
      display: flex;
      flex-wrap: wrap; }
      .news_list_item {
        width: 33.333%;
        margin-right: 0; }
        .news_list_item .infor {
          position: absolute;
          background-color: #f5f4f4;
          left: 0;
          right: 0;
          bottom: 10px;
          margin: 0 20px;
          padding: 5px 20px; }

  .mobile_footer {
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #e1e1e1; }
    .mobile_footer .wrap {
      display: flex;
      padding: 10px 0; }
      .mobile_footer .wrap a {
        width: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 10px; }
        .mobile_footer .wrap a img {
          max-width: 40px;
          max-height: 40px;
          overflow: hidden;
          object-fit: cover; }

  .service {
    margin-bottom: 0; }
    .service .wrap {
      flex-direction: column; }
    .service_left {
      width: 100%; }
      .service_left .menu_item {
        display: none; }
      .service_left_mobile_list_select {
        display: flex; }
        .service_left_mobile_list_select select {
          height: 28px;
          border-radius: 5px;
          background-color: #cd0000;
          color: #fff;
          width: 50%; }
          .service_left_mobile_list_select select:first-child {
            margin-right: 10px; }
    .service_right {
      width: 100%; }
      .service_right .category-content-title .category-search {
        display: none; }

  /*
    chi tiết dịch vụ
  */
  .service_detail .wrap .title {
    border-bottom: unset; }
    .service_detail .wrap .title .show-rate {
      margin-top: 10px; }
      .service_detail .wrap .title .show-rate a span {
        color: #2d69c4; }
  .service_detail .content_service {
    flex-direction: column; }
    .service_detail .content_service .news_right {
      display: none; }
  .service_detail_left {
    width: 100%;
    margin-right: 0; }
    .service_detail_left .detail_slide {
      flex-direction: column;
      width: 100%; }
      .service_detail_left .detail_slide .slide {
        width: 100%; }
      .service_detail_left .detail_slide .detail {
        width: 100%; }
        .service_detail_left .detail_slide .detail #price {
          margin-top: 15px; }
    .service_detail_left .m_detail {
      border-bottom: none;
      margin: unset;
      padding: unset;
      margin-bottom: 10px;
      margin-top: 15px; }
      .service_detail_left .m_detail .product {
        flex-direction: column;
        align-items: unset;
        margin-top: 15px; }
        .service_detail_left .m_detail .product > a {
          width: 100%; }
        .service_detail_left .m_detail .product .order {
          width: 100%;
          margin-top: 20px; }
    .service_detail_left .m_comment #detail-comment-tab {
      border-bottom: none; }
      .service_detail_left .m_comment #detail-comment-tab .detail-comment-title {
        width: 100%;
        border-bottom: 1px solid #9c9c9c;
        padding-bottom: 10px;
        margin-bottom: 10px; }
      .service_detail_left .m_comment #detail-comment-tab .detail-rating {
        float: left; }

  .news#new_category {
    flex-direction: column; }
    .news#new_category .news_left {
      width: 100%;
      margin-right: 0; }
      .news#new_category .news_left_hot {
        flex-direction: column;
        width: 100%; }
        .news#new_category .news_left_hot .list {
          width: 100%; }
          .news#new_category .news_left_hot .list a .infor p#detail {
            display: none; }
          .news#new_category .news_left_hot .list:last-child {
            display: none; }
      .news#new_category .news_left_all .item a .infor {
        display: flex;
        flex-direction: column; }
        .news#new_category .news_left_all .item a .infor p#time {
          order: 2; }
        .news#new_category .news_left_all .item a .infor #title {
          order: 1; }
        .news#new_category .news_left_all .item a .infor p#detail {
          display: none; }
    .news#new_category .news_right {
      display: none; }

  .popup {
    left: 50% !important;
    width: 94%;
    transform: translateX(-50%); }
    .popup_main {
      display: flex;
      flex-direction: column; }
      .popup_main .popup_product_info, .popup_main .popup_customer_info {
        width: 100%; }
        .popup_main .popup_product_info #customer-gender, .popup_main .popup_customer_info #customer-gender {
          width: 100%; }
        .popup_main .popup_product_info input, .popup_main .popup_customer_info input {
          width: 100%;
          float: left; }
        .popup_main .popup_product_info #customer-name, .popup_main .popup_product_info #customer-phone, .popup_main .popup_product_info #customer-email, .popup_main .popup_customer_info #customer-name, .popup_main .popup_customer_info #customer-phone, .popup_main .popup_customer_info #customer-email {
          float: left;
          width: 100%; }

  #image_cart {
    display: none; }

  #stt_cart {
    display: none; }

  .page_order .form_order .row_list {
    flex-direction: column; }
    .page_order .form_order .row_list .col-md-4 {
      width: 100%;
      float: left;
      margin-right: 0;
      margin-bottom: 20px; }
      .page_order .form_order .row_list .col-md-4 .box_order .list_input input {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 10px;
        border: 1px solid #eee; }
      .page_order .form_order .row_list .col-md-4 .box_order textarea {
        width: 100%;
        margin-top: 20px;
        padding: 10px; }
  .page_order .form_order .list_btn .btn_order button {
    width: auto; }

  #footer_infor_mobile {
    order: 3;
    margin-bottom: 90px; }
    #footer_infor_mobile .footer-support {
      display: flex;
      background: #fff;
      flex-wrap: wrap; }
      #footer_infor_mobile .footer-support-item {
        width: 50%;
        border-style: solid;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-color: #e1e1e1;
        padding: 15px 0;
        text-align: center; }
        #footer_infor_mobile .footer-support-item a {
          color: #d0021b !important;
          font-size: 18px; }
        #footer_infor_mobile .footer-support-item select {
          border: 0;
          color: #278AD6; }

  /*
contact
*/
  .contact .wrap h1#title {
    font-size: 20px;
    color: #cd0000;
    display: none; }
  .contact .wrap .map_contact {
    display: none; }
  .contact_list {
    flex-direction: column;
    background: #e1e1e1;
    padding: 10px;
    margin-bottom: 0; }
    .contact_list .left {
      display: block; }
    .contact_list .right {
      width: 100%; }
      .contact_list .right .form_contact form .form-group {
        margin-bottom: 10px; }
        .contact_list .right .form_contact form .form-group input, .contact_list .right .form_contact form .form-group textarea {
          padding: 10px 10px;
          resize: vertical;
          border: 1px solid #dedede;
          outline: none;
          transition: 0.3s all ease;
          box-sizing: border-box;
          width: 100%; }
      .contact_list .right .form_contact form #email_phone {
        display: flex;
        flex-wrap: wrap; }
        .contact_list .right .form_contact form #email_phone input {
          width: 100%; }
          .contact_list .right .form_contact form #email_phone input:first-child {
            margin-right: 0;
            margin-bottom: 10px; }
      .contact_list .right .form_contact form #contact_buttom {
        text-align: center;
        background-color: #cd0000;
        color: #fff;
        display: block;
        width: 100%;
        padding: 10px 0;
        cursor: pointer; }

  .fancybox-overlay-fixed .fancybox-desktop {
    width: 90% !important;
    height: auto;
    position: absolute;
    top: 202px;
    left: 50% !important;
    opacity: 1;
    overflow: visible;
    transform: translateX(-50%) !important; }
    .fancybox-overlay-fixed .fancybox-desktop .fancybox-skin .fancybox-outer .fancybox-inner {
      width: auto !important; } }
@media only screen and (max-width: 479px) {
  .modal .modal-content {
    width: 90%; }

  .moal_form {
    margin: 0 10px;
    margin-top: 15px; }

  .wrap {
    width: 100%;
    padding: 0 10px; }

  body {
    display: flex;
    flex-direction: column; }

  #header {
    display: none; }

  .header_mobile {
    display: block;
    background-color: #cd0000; }
    .header_mobile_list {
      display: flex;
      position: relative;
      align-items: center; }
    .header_mobile_left a img {
      max-width: 50%; }
    .header_mobile_right {
      position: absolute;
      right: 0;
      display: flex; }
      .header_mobile_right .cart {
        position: relative; }
        .header_mobile_right .cart a span {
          position: absolute;
          top: -8px;
          left: 14px; }
          .header_mobile_right .cart a span i {
            font-size: 20px;
            color: #1aceff; }
      .header_mobile_right .menu_click {
        margin-left: 30px; }
        .header_mobile_right .menu_click a i {
          font-size: 28px; }
    .header_mobile_search {
      width: 100%;
      height: 30px;
      float: left;
      position: relative; }
      .header_mobile_search form input {
        width: 100%;
        padding: 5px;
        font-size: 15px;
        border: none;
        float: left;
        border-radius: 8px; }
      .header_mobile_search form button {
        width: 30px;
        height: 26px;
        position: absolute;
        margin: 1px 0 0 -32px;
        border: none;
        color: #fff;
        background: #cd0000;
        border-radius: 8px; }
    .header_mobile .header_mobile_menu {
      display: none;
      background-color: #f4f4f4;
      z-index: 99999;
      top: 53px;
      left: 50%;
      transform: translateX(-50%);
      padding: 10px 10px;
      width: 94%;
      position: absolute;
      border-radius: 5px; }
      .header_mobile .header_mobile_menu ul {
        display: flex;
        flex-wrap: wrap; }
        .header_mobile .header_mobile_menu ul li {
          border: 1.5px solid #f15b67;
          margin: 5px;
          width: 30%;
          height: 90px;
          border-radius: 5px;
          display: flex;
          justify-content: center;
          align-items: center; }
          .header_mobile .header_mobile_menu ul li a {
            display: flex;
            flex-direction: column;
            align-items: center; }
            .header_mobile .header_mobile_menu ul li a .all-icon {
              margin-bottom: 5px; }
              .header_mobile .header_mobile_menu ul li a .all-icon img {
                width: 50px;
                overflow: hidden;
                object-fit: cover;
                margin-right: 0;
                vertical-align: middle; }
            .header_mobile .header_mobile_menu ul li a span {
              color: #333;
              font-size: 10px;
              font-weight: bold;
              display: block;
              text-transform: uppercase; }

  /*banner*/
  .banner {
    margin-top: 5px; }
    .banner .wrap {
      flex-direction: column;
      flex-wrap: wrap; }
    .banner_left {
      width: 100%;
      margin-right: 0; }
      .banner_left_list {
        display: none; }
    .banner_right {
      display: none; }

  /*content*/
  .content_title {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #fff;
    height: 40px; }
    .content_title::before {
      position: absolute;
      content: '';
      height: 40px;
      width: 3px;
      background-color: #cd0000; }
    .content_title #title_content {
      text-transform: uppercase;
      margin-left: 15px;
      color: #cd0000;
      font-weight: 600;
      font-size: 12px; }
    .content_title select {
      width: 85px; }
    .content_title ul {
      display: none; }
  .content_list {
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    /*linh kiện điệ thoại*/ }
    .content_list_item {
      width: 50%;
      border-right-width: 1px;
      border-bottom-width: 1px;
      border-style: solid;
      border-color: #e1e1e1;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 10px 10px;
      position: relative; }
      .content_list_item a {
        display: block; }
      .content_list_item .img {
        width: 100%;
        overflow: hidden;
        height: 150px; }
        .content_list_item .img img {
          height: 100%;
          width: 100%;
          object-fit: cover; }
      .content_list_item .infor {
        width: 100%;
        margin-top: 10px;
        transition: all ease 0.5s; }
        .content_list_item .infor i {
          display: none; }
        .content_list_item .infor p#view {
          color: #ee0000;
          display: block;
          font-size: 20px;
          text-transform: uppercase;
          font-weight: bold; }
        .content_list_item .infor #title {
          font-weight: unset;
          font-size: 14px;
          height: 40px;
          line-height: 20px;
          overflow: hidden; }
      .content_list_item .hover {
        display: none; }
        .content_list_item .hover #title {
          font-size: 14px;
          height: 22px;
          line-height: 22px;
          overflow: hidden; }
        .content_list_item .hover p {
          float: left;
          text-align: left;
          width: 100%;
          line-height: 20px; }
      .content_list_item .shopping_cart {
        position: absolute;
        top: 108px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        visibility: hidden;
        opacity: 0;
        transition: all ease 0.5s; }
        .content_list_item .shopping_cart p {
          height: 30px;
          width: 30px;
          line-height: 30px;
          display: block;
          border-radius: 25px; }
          .content_list_item .shopping_cart p i {
            line-height: 25px;
            text-align: center; }
        .content_list_item .shopping_cart p#phone {
          background-color: #fff;
          margin-right: 10px; }
          .content_list_item .shopping_cart p#phone i {
            color: #000; }
        .content_list_item .shopping_cart p#cart {
          background-color: #cd0000; }
          .content_list_item .shopping_cart p#cart i {
            color: #fff; }
      .content_list_item:hover {
        border: 1px solid #cd0000;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3); }
        .content_list_item:hover .hover {
          display: none; }
        .content_list_item:hover .infor {
          visibility: visible;
          opacity: 1; }
        .content_list_item:hover .shopping_cart {
          visibility: visible;
          opacity: 1; }
    .content_list_accessories#list_product {
      width: 50% !important; }
      .content_list_accessories#list_product .img {
        height: 200px !important; }
    .content_list_accessories {
      width: 50%;
      border-right-width: 1px;
      border-bottom-width: 1px;
      border-style: solid;
      border-color: #e1e1e1;
      padding: 10px 10px;
      position: relative; }
      .content_list_accessories .img {
        width: 100%;
        overflow: hidden;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center; }
        .content_list_accessories .img img {
          height: 100%;
          max-width: 90%;
          object-fit: cover; }
      .content_list_accessories .infor {
        width: 100%;
        margin-top: 10px;
        transition: all ease 0.5s;
        text-align: center; }
        .content_list_accessories .infor #title {
          font-weight: unset;
          font-size: 14px;
          height: 40px;
          line-height: 20px;
          overflow: hidden; }
        .content_list_accessories .infor #price strong {
          color: #cd0000; }
  .content_price-list {
    display: flex;
    flex-wrap: wrap; }
    .content_price-list a {
      display: block;
      width: 50%;
      border-right-width: 1px;
      border-bottom-width: 1px;
      border-style: solid;
      border-color: #e1e1e1; }
      .content_price-list a .img {
        width: 100%;
        overflow: hidden;
        height: 100%; }
        .content_price-list a .img img {
          width: 100%;
          height: 100%;
          object-fit: cover; }

  .customer {
    order: 2;
    margin-bottom: 30px; }
    .customer_form {
      display: none; }
    .customer_check {
      width: 100%; }
      .customer_check_form form {
        display: flex;
        flex-direction: column; }
        .customer_check_form form select {
          width: 100%; }
        .customer_check_form form input.gcf-info {
          width: 100%;
          margin: 10px 0; }
        .customer_check_form form input.gcf-submit {
          width: 100%; }
      .customer_check .note {
        margin: 5px 0;
        padding: 0 10px; }

  .footer {
    display: none; }

  footer-bottom {
    display: none; }

  .news {
    order: 1; }
    .news_list {
      flex-direction: column; }
      .news_list_item {
        width: 100%;
        margin-right: 0; }
        .news_list_item .infor {
          position: absolute;
          background-color: #f5f4f4;
          left: 0;
          right: 0;
          bottom: 10px;
          margin: 0 20px;
          padding: 5px 20px; }

  .mobile_footer {
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #e1e1e1; }
    .mobile_footer .wrap {
      display: flex;
      padding: 10px 0; }
      .mobile_footer .wrap a {
        width: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 10px; }
        .mobile_footer .wrap a img {
          max-width: 40px;
          max-height: 40px;
          overflow: hidden;
          object-fit: cover; }

  .service {
    margin-bottom: 0; }
    .service .wrap {
      flex-direction: column; }
    .service_left {
      width: 100%; }
      .service_left .menu_item {
        display: none; }
      .service_left_mobile_list_select {
        display: flex; }
        .service_left_mobile_list_select select {
          height: 28px;
          border-radius: 5px;
          background-color: #cd0000;
          color: #fff;
          width: 50%; }
          .service_left_mobile_list_select select:first-child {
            margin-right: 10px; }
    .service_right {
      width: 100%; }
      .service_right_filter label.price {
        display: none; }
      .service_right .category-content-title .category-search {
        display: none; }

  /*
    chi tiết dịch vụ
  */
  .service_detail .wrap .title {
    border-bottom: unset;
    display: flex;
    flex-direction: column;
    align-items: unset; }
    .service_detail .wrap .title .show-rate {
      margin-top: 10px; }
      .service_detail .wrap .title .show-rate a span {
        color: #2d69c4; }
    .service_detail .wrap .title .share_facebook {
      position: unset;
      right: unset;
      margin-top: 10px; }
  .service_detail .content_service {
    flex-direction: column; }
    .service_detail .content_service .news_right {
      display: none; }
  .service_detail_left {
    width: 100%;
    margin-right: 0; }
    .service_detail_left .detail_slide {
      flex-direction: column;
      width: 100%; }
      .service_detail_left .detail_slide .slide {
        width: 100%; }
      .service_detail_left .detail_slide .detail {
        width: 100%; }
        .service_detail_left .detail_slide .detail #price {
          margin-top: 15px; }
        .service_detail_left .detail_slide .detail .order {
          flex-direction: column; }
          .service_detail_left .detail_slide .detail .order .item {
            width: 100%; }
            .service_detail_left .detail_slide .detail .order .item:first-child {
              margin-right: 0;
              width: 100%;
              margin-bottom: 10px; }
            .service_detail_left .detail_slide .detail .order .item:last-child {
              width: 100%; }
    .service_detail_left .m_detail {
      border-bottom: none;
      margin: unset;
      padding: unset;
      margin-bottom: 10px;
      margin-top: 15px; }
      .service_detail_left .m_detail .product {
        flex-direction: column;
        align-items: unset;
        margin-top: 15px; }
        .service_detail_left .m_detail .product > a {
          width: 100%; }
        .service_detail_left .m_detail .product .order {
          width: 100%;
          margin-top: 20px; }
    .service_detail_left .m_comment #detail-comment-tab {
      border-bottom: none; }
      .service_detail_left .m_comment #detail-comment-tab .detail-comment-title {
        width: 100%;
        border-bottom: 1px solid #9c9c9c;
        padding-bottom: 10px;
        margin-bottom: 10px; }
      .service_detail_left .m_comment #detail-comment-tab .detail-rating {
        float: left; }

  .news#new_category {
    flex-direction: column; }
    .news#new_category .news_left {
      width: 100%;
      margin-right: 0; }
      .news#new_category .news_left_hot {
        flex-direction: column;
        width: 100%; }
        .news#new_category .news_left_hot .list {
          width: 100%; }
          .news#new_category .news_left_hot .list a .infor p#detail {
            display: none; }
          .news#new_category .news_left_hot .list:last-child {
            display: none; }
      .news#new_category .news_left_all .item a .infor {
        display: flex;
        flex-direction: column; }
        .news#new_category .news_left_all .item a .infor p#time {
          order: 2; }
        .news#new_category .news_left_all .item a .infor #title {
          order: 1; }
        .news#new_category .news_left_all .item a .infor p#detail {
          display: none; }
    .news#new_category .news_right {
      display: none; }

  .popup {
    left: 50% !important;
    width: 94%;
    transform: translateX(-50%); }
    .popup_main {
      display: flex;
      flex-direction: column; }
      .popup_main .popup_product_info, .popup_main .popup_customer_info {
        width: 100%; }
        .popup_main .popup_product_info #customer-gender, .popup_main .popup_customer_info #customer-gender {
          width: 100%; }
        .popup_main .popup_product_info input, .popup_main .popup_customer_info input {
          width: 100%;
          float: left; }
        .popup_main .popup_product_info #customer-name, .popup_main .popup_product_info #customer-phone, .popup_main .popup_product_info #customer-email, .popup_main .popup_customer_info #customer-name, .popup_main .popup_customer_info #customer-phone, .popup_main .popup_customer_info #customer-email {
          float: left;
          width: 100%; }

  #image_cart {
    display: none; }

  #stt_cart {
    display: none; }

  .page_order .form_order .row_list {
    flex-direction: column; }
    .page_order .form_order .row_list .col-md-4 {
      width: 100%;
      float: left;
      margin-right: 0;
      margin-bottom: 20px; }
      .page_order .form_order .row_list .col-md-4 .box_order .list_input input {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 10px;
        border: 1px solid #eee; }
      .page_order .form_order .row_list .col-md-4 .box_order textarea {
        width: 100%;
        margin-top: 20px;
        padding: 10px; }
  .page_order .form_order .list_btn .btn_order button {
    width: auto; }

  #footer_infor_mobile {
    order: 3;
    margin-bottom: 90px; }
    #footer_infor_mobile .footer-support {
      display: flex;
      background: #fff;
      flex-wrap: wrap; }
      #footer_infor_mobile .footer-support-item {
        width: 50%;
        border-style: solid;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-color: #e1e1e1;
        padding: 15px 0;
        text-align: center; }
        #footer_infor_mobile .footer-support-item a {
          color: #d0021b !important;
          font-size: 18px; }
        #footer_infor_mobile .footer-support-item select {
          border: 0;
          color: #278AD6; }

  /*
contact
*/
  .contact .wrap h1#title {
    font-size: 20px;
    color: #cd0000;
    display: none; }
  .contact .wrap .map_contact {
    display: none; }
  .contact_list {
    flex-direction: column;
    background: #e1e1e1;
    padding: 10px;
    margin-bottom: 0; }
    .contact_list .left {
      display: block; }
    .contact_list .right {
      width: 100%; }
      .contact_list .right .form_contact form .form-group {
        margin-bottom: 10px; }
        .contact_list .right .form_contact form .form-group input, .contact_list .right .form_contact form .form-group textarea {
          padding: 10px 10px;
          resize: vertical;
          border: 1px solid #dedede;
          outline: none;
          transition: 0.3s all ease;
          box-sizing: border-box;
          width: 100%; }
      .contact_list .right .form_contact form #email_phone {
        display: flex;
        flex-wrap: wrap; }
        .contact_list .right .form_contact form #email_phone input {
          width: 100%; }
          .contact_list .right .form_contact form #email_phone input:first-child {
            margin-right: 0;
            margin-bottom: 10px; }
      .contact_list .right .form_contact form #contact_buttom {
        text-align: center;
        background-color: #cd0000;
        color: #fff;
        display: block;
        width: 100%;
        padding: 10px 0;
        cursor: pointer; }

  .fancybox-overlay-fixed .fancybox-desktop {
    width: 90% !important;
    height: auto;
    position: absolute;
    top: 202px;
    left: 50% !important;
    opacity: 1;
    overflow: visible;
    transform: translateX(-50%) !important; }
    .fancybox-overlay-fixed .fancybox-desktop .fancybox-skin .fancybox-outer .fancybox-inner {
      width: auto !important; } }
@media only screen and (max-width: 320px) {
  .header_mobile {
    display: block;
    background-color: #cd0000; }
    .header_mobile_list {
      display: flex;
      position: relative;
      align-items: center; }
    .header_mobile_left a img {
      max-width: 50%; }
    .header_mobile_right {
      position: absolute;
      right: 0;
      display: flex; }
      .header_mobile_right .cart {
        position: relative; }
        .header_mobile_right .cart a span {
          position: absolute;
          top: -8px;
          left: 14px; }
          .header_mobile_right .cart a span i {
            font-size: 20px;
            color: #1aceff; }
      .header_mobile_right .menu_click {
        margin-left: 30px; }
        .header_mobile_right .menu_click a i {
          font-size: 28px; }
    .header_mobile_search {
      width: 100%;
      height: 30px;
      float: left;
      position: relative; }
      .header_mobile_search form input {
        width: 100%;
        padding: 5px;
        font-size: 15px;
        border: none;
        float: left;
        border-radius: 8px; }
      .header_mobile_search form button {
        width: 30px;
        height: 26px;
        position: absolute;
        margin: 1px 0 0 -32px;
        border: none;
        color: #fff;
        background: #cd0000;
        border-radius: 8px; }
    .header_mobile .header_mobile_menu {
      display: none;
      background-color: #f4f4f4;
      z-index: 99999;
      top: 53px;
      left: 50%;
      transform: translateX(-50%);
      padding: 10px 10px;
      width: 94%;
      position: absolute;
      border-radius: 5px; }
      .header_mobile .header_mobile_menu ul {
        display: flex;
        flex-wrap: wrap; }
        .header_mobile .header_mobile_menu ul li {
          border: 1.5px solid #f15b67;
          margin: 5px;
          width: 29.77%;
          height: 90px;
          border-radius: 5px;
          display: flex;
          justify-content: center;
          align-items: center; }
          .header_mobile .header_mobile_menu ul li a {
            display: flex;
            flex-direction: column;
            align-items: center; }
            .header_mobile .header_mobile_menu ul li a .all-icon {
              margin-bottom: 5px; }
              .header_mobile .header_mobile_menu ul li a .all-icon img {
                width: 50px;
                overflow: hidden;
                object-fit: cover;
                margin-right: 0;
                vertical-align: middle; }
            .header_mobile .header_mobile_menu ul li a span {
              color: #333;
              font-size: 10px;
              font-weight: bold;
              display: block;
              text-transform: uppercase; }

  .modal .modal-content {
    width: 90%; }

  .moal_form {
    margin: 0 10px;
    margin-top: 15px; }

  .fancybox-overlay-fixed .fancybox-desktop {
    width: 90% !important;
    height: auto;
    position: absolute;
    top: 202px;
    left: 50% !important;
    opacity: 1;
    overflow: visible;
    transform: translateX(-50%) !important; }
    .fancybox-overlay-fixed .fancybox-desktop .fancybox-skin .fancybox-outer .fancybox-inner {
      width: auto !important; }

  .wrap {
    width: 100%;
    padding: 0 10px; }

  body {
    display: flex;
    flex-direction: column; }

  #header {
    display: none; }

  /*banner*/
  .banner {
    margin-top: 5px; }
    .banner .wrap {
      flex-direction: column;
      flex-wrap: wrap; }
    .banner_left {
      width: 100%;
      margin-right: 0; }
      .banner_left_list {
        display: none; }
    .banner_right {
      display: none; }

  /*content*/
  .content_title {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #fff;
    height: 40px; }
    .content_title::before {
      position: absolute;
      content: '';
      height: 40px;
      width: 3px;
      background-color: #cd0000; }
    .content_title #title_content {
      text-transform: uppercase;
      margin-left: 15px;
      color: #cd0000;
      font-weight: 600;
      font-size: 12px; }
    .content_title ul {
      display: none; }
    .content_title select {
      width: 85px; }
  .content_list {
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    /*linh kiện điệ thoại*/ }
    .content_list_item {
      width: 50%;
      border-right-width: 1px;
      border-bottom-width: 1px;
      border-style: solid;
      border-color: #e1e1e1;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 10px 10px;
      position: relative; }
      .content_list_item a {
        display: block; }
      .content_list_item .img {
        width: 100%;
        overflow: hidden;
        height: 120px; }
        .content_list_item .img img {
          height: 100%;
          width: 100%;
          object-fit: cover; }
      .content_list_item .infor {
        width: 100%;
        margin-top: 10px;
        transition: all ease 0.5s; }
        .content_list_item .infor i {
          display: none; }
        .content_list_item .infor p#view {
          color: #ee0000;
          display: block;
          font-size: 20px;
          text-transform: uppercase;
          font-weight: bold; }
        .content_list_item .infor #title {
          font-weight: unset;
          font-size: 14px;
          height: 40px;
          line-height: 20px;
          overflow: hidden; }
      .content_list_item .hover {
        display: none; }
        .content_list_item .hover #title {
          font-size: 14px;
          height: 22px;
          line-height: 22px;
          overflow: hidden; }
        .content_list_item .hover p {
          float: left;
          text-align: left;
          width: 100%;
          line-height: 20px; }
      .content_list_item .shopping_cart {
        position: absolute;
        top: 108px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        visibility: hidden;
        opacity: 0;
        transition: all ease 0.5s; }
        .content_list_item .shopping_cart p {
          height: 30px;
          width: 30px;
          line-height: 30px;
          display: block;
          border-radius: 25px; }
          .content_list_item .shopping_cart p i {
            line-height: 25px;
            text-align: center; }
        .content_list_item .shopping_cart p#phone {
          background-color: #fff;
          margin-right: 10px; }
          .content_list_item .shopping_cart p#phone i {
            color: #000; }
        .content_list_item .shopping_cart p#cart {
          background-color: #cd0000; }
          .content_list_item .shopping_cart p#cart i {
            color: #fff; }
      .content_list_item:hover {
        border: 1px solid #cd0000;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3); }
        .content_list_item:hover .hover {
          display: none; }
        .content_list_item:hover .infor {
          visibility: visible;
          opacity: 1; }
        .content_list_item:hover .shopping_cart {
          visibility: visible;
          opacity: 1; }
    .content_list_accessories#list_product {
      width: 50% !important; }
      .content_list_accessories#list_product .img {
        height: 200px !important; }
    .content_list_accessories {
      width: 50%;
      border-right-width: 1px;
      border-bottom-width: 1px;
      border-style: solid;
      border-color: #e1e1e1;
      padding: 10px 10px;
      position: relative; }
      .content_list_accessories .img {
        width: 100%;
        overflow: hidden;
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: center; }
        .content_list_accessories .img img {
          height: 100%;
          max-width: 90%;
          object-fit: cover; }
      .content_list_accessories .infor {
        width: 100%;
        margin-top: 10px;
        transition: all ease 0.5s;
        text-align: center; }
        .content_list_accessories .infor #title {
          font-weight: unset;
          font-size: 14px;
          height: 40px;
          line-height: 20px;
          overflow: hidden; }
        .content_list_accessories .infor #price strong {
          color: #cd0000; }
  .content_price-list {
    display: flex;
    flex-wrap: wrap; }
    .content_price-list a {
      display: block;
      width: 50%;
      border-right-width: 1px;
      border-bottom-width: 1px;
      border-style: solid;
      border-color: #e1e1e1; }
      .content_price-list a .img {
        width: 100%;
        overflow: hidden;
        height: 100%; }
        .content_price-list a .img img {
          width: 100%;
          height: 100%;
          object-fit: cover; }

  .customer {
    order: 2;
    margin-bottom: 30px; }
    .customer_form {
      display: none; }
    .customer_check {
      width: 100%; }
      .customer_check_form form {
        display: flex;
        flex-direction: column; }
        .customer_check_form form select {
          width: 100%; }
        .customer_check_form form input.gcf-info {
          width: 100%;
          margin: 10px 0; }
        .customer_check_form form input.gcf-submit {
          width: 100%; }
      .customer_check .note {
        margin: 5px 0;
        padding: 0 10px; }

  .footer {
    display: none; }

  footer-bottom {
    display: none; }

  .news {
    order: 1; }
    .news_list {
      flex-direction: column; }
      .news_list_item {
        width: 100%;
        margin-right: 0; }
        .news_list_item .infor {
          position: absolute;
          background-color: #f5f4f4;
          left: 0;
          right: 0;
          bottom: 10px;
          margin: 0 20px;
          padding: 5px 20px; }

  .mobile_footer {
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #e1e1e1; }
    .mobile_footer .wrap {
      display: flex;
      padding: 10px 0; }
      .mobile_footer .wrap a {
        width: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 10px; }
        .mobile_footer .wrap a img {
          max-width: 40px;
          max-height: 40px;
          overflow: hidden;
          object-fit: cover; }

  .service {
    margin-bottom: 0; }
    .service .wrap {
      flex-direction: column; }
    .service_left {
      width: 100%; }
      .service_left .menu_item {
        display: none; }
      .service_left_mobile_list_select {
        display: flex; }
        .service_left_mobile_list_select .item_filter {
          width: 50%; }
          .service_left_mobile_list_select .item_filter:first-child {
            margin-right: 4%; }
          .service_left_mobile_list_select .item_filter > p {
            background-color: #cd0000;
            color: #fff;
            width: 100%;
            display: flex;
            align-items: center;
            padding: 5px 5px; }
            .service_left_mobile_list_select .item_filter > p span {
              color: #fff;
              width: 100%;
              font-size: 12px;
              display: block; }
            .service_left_mobile_list_select .item_filter > p i {
              margin-top: -3px; }
          .service_left_mobile_list_select .item_filter .list_filter {
            background: #cd0000;
            display: none; }
            .service_left_mobile_list_select .item_filter .list_filter > a {
              padding: 8px 0;
              border-bottom: 1px solid #e1e1e1;
              display: block;
              width: 100%;
              color: #fff;
              font-size: 12px; }
    .service_right {
      width: 100%; }
      .service_right_filter label.price {
        display: none; }
      .service_right .category-content-title .category-search {
        display: none; }

  /*
    chi tiết dịch vụ
  */
  .service_detail .wrap .title {
    border-bottom: unset;
    display: flex;
    flex-direction: column;
    align-items: unset; }
    .service_detail .wrap .title .show-rate {
      margin-top: 10px; }
      .service_detail .wrap .title .show-rate a span {
        color: #2d69c4; }
    .service_detail .wrap .title .share_facebook {
      position: unset;
      right: unset;
      margin-top: 10px; }
  .service_detail .content_service {
    flex-direction: column; }
    .service_detail .content_service .news_right {
      display: none; }
  .service_detail_left {
    width: 100%;
    margin-right: 0; }
    .service_detail_left .detail_slide {
      flex-direction: column;
      width: 100%; }
      .service_detail_left .detail_slide .slide {
        width: 100%; }
      .service_detail_left .detail_slide .detail {
        width: 100%; }
    .service_detail_left .m_detail {
      border-bottom: none;
      margin: unset;
      padding: unset;
      margin-bottom: 10px;
      margin-top: 15px; }
      .service_detail_left .m_detail .product {
        flex-direction: column;
        align-items: unset;
        margin-top: 15px; }
        .service_detail_left .m_detail .product > a {
          width: 100%; }
        .service_detail_left .m_detail .product .order {
          width: 100%;
          margin-top: 20px; }
    .service_detail_left .m_comment #detail-comment-tab {
      border-bottom: none; }
      .service_detail_left .m_comment #detail-comment-tab .detail-comment-title {
        width: 100%;
        border-bottom: 1px solid #9c9c9c;
        padding-bottom: 10px;
        margin-bottom: 10px; }
      .service_detail_left .m_comment #detail-comment-tab .detail-rating {
        float: left; }

  .news#new_category {
    flex-direction: column; }
    .news#new_category .news_left {
      width: 100%;
      margin-right: 0; }
      .news#new_category .news_left_hot {
        flex-direction: column;
        width: 100%; }
        .news#new_category .news_left_hot .list {
          width: 100%; }
          .news#new_category .news_left_hot .list a .infor p#detail {
            display: none; }
          .news#new_category .news_left_hot .list:last-child {
            display: none; }
      .news#new_category .news_left_all .item a .infor {
        display: flex;
        flex-direction: column; }
        .news#new_category .news_left_all .item a .infor p#time {
          order: 2; }
        .news#new_category .news_left_all .item a .infor #title {
          order: 1; }
        .news#new_category .news_left_all .item a .infor p#detail {
          display: none; }
    .news#new_category .news_right {
      display: none; }

  .popup {
    left: 50% !important;
    width: 94%;
    transform: translateX(-50%); }
    .popup_main {
      display: flex;
      flex-direction: column; }
      .popup_main .popup_product_info, .popup_main .popup_customer_info {
        width: 100%; }
        .popup_main .popup_product_info #customer-gender, .popup_main .popup_customer_info #customer-gender {
          width: 100%; }
        .popup_main .popup_product_info input, .popup_main .popup_customer_info input {
          width: 100%;
          float: left; }
        .popup_main .popup_product_info #customer-name, .popup_main .popup_product_info #customer-phone, .popup_main .popup_product_info #customer-email, .popup_main .popup_customer_info #customer-name, .popup_main .popup_customer_info #customer-phone, .popup_main .popup_customer_info #customer-email {
          float: left;
          width: 100%; }

  #image_cart {
    display: none; }

  #stt_cart {
    display: none; }

  .page_order .form_order .row_list {
    flex-direction: column; }
    .page_order .form_order .row_list .col-md-4 {
      width: 100%;
      float: left;
      margin-right: 0;
      margin-bottom: 20px; }
      .page_order .form_order .row_list .col-md-4 .box_order .list_input input {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 10px;
        border: 1px solid #eee; }
      .page_order .form_order .row_list .col-md-4 .box_order textarea {
        width: 100%;
        margin-top: 20px;
        padding: 10px; }
  .page_order .form_order .list_btn .btn_order button {
    width: auto; }

  #footer_infor_mobile {
    order: 3;
    margin-bottom: 90px; }
    #footer_infor_mobile .footer-support {
      display: flex;
      background: #fff;
      flex-wrap: wrap; }
      #footer_infor_mobile .footer-support-item {
        width: 50%;
        border-style: solid;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-color: #e1e1e1;
        padding: 15px 0;
        text-align: center; }
        #footer_infor_mobile .footer-support-item a {
          color: #d0021b !important;
          font-size: 18px; }
        #footer_infor_mobile .footer-support-item select {
          border: 0;
          color: #278AD6; }

  /*
contact
*/
  .contact .wrap h1#title {
    font-size: 20px;
    color: #cd0000;
    display: none; }
  .contact .wrap .map_contact {
    display: none; }
  .contact_list {
    flex-direction: column;
    background: #e1e1e1;
    padding: 10px;
    margin-bottom: 0; }
    .contact_list .left {
      display: block; }
    .contact_list .right {
      width: 100%; }
      .contact_list .right .form_contact form .form-group {
        margin-bottom: 10px; }
        .contact_list .right .form_contact form .form-group input, .contact_list .right .form_contact form .form-group textarea {
          padding: 10px 10px;
          resize: vertical;
          border: 1px solid #dedede;
          outline: none;
          transition: 0.3s all ease;
          box-sizing: border-box;
          width: 100%; }
      .contact_list .right .form_contact form #email_phone {
        display: flex;
        flex-wrap: wrap; }
        .contact_list .right .form_contact form #email_phone input {
          width: 100%; }
          .contact_list .right .form_contact form #email_phone input:first-child {
            margin-right: 0;
            margin-bottom: 10px; }
      .contact_list .right .form_contact form #contact_buttom {
        text-align: center;
        background-color: #cd0000;
        color: #fff;
        display: block;
        width: 100%;
        padding: 10px 0;
        cursor: pointer; } }

/*# sourceMappingURL=responsive.css.map */
