
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
font,
img,
ol,
ul,
li,
button {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    color: #333;
    vertical-align: baseline;
    background: transparent;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

span {
    line-height: 1.5;
}

i {
    font-style: normal;
    font-weight: normal;
}
.clear {
    clear: both;
}

.clearfix {
    display: block;
}

.clearfix:after {
    display: block;
    content: " ";
    clear: both;
}
body {
    width: 100%;
    height: auto;
    font-family: 'Roboto', Helvetica, Arial, sans-senif;
    font-size: 14px;
    // background: #f4f4f4;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
ul {
    list-style-type: none;
}

a {
    color: #333;
    text-decoration: none;
}
input {
    outline: none;
}

select {
    outline: none;
}

textarea {
    outline: none;
}

.wrap {
    width: 1200px;
    margin: 0 auto;
}
.bold {
    font-weight: bold !important;
}
.default {
    width: 100%;
    float: left;
}

.css-content {
    font: 16px/22px TeXGyreAdventor,Arial,sans-serif;
    box-sizing: border-box;
}

.css-content h1,
.css-content h2,
.css-content h3,
.css-content h4,
.css-content h5 {
    margin: 0.3em 0 0em;
    line-height: 1.5em !important;
}

.css-content a {
    color: #001dff;
}

.css-content figure.sudo-media-item {
    padding-bottom: 10px;
}

.css-content h1 {
    font: 700 24px/28px 'Roboto', Helvetica, Arial, sans-senif;
}

.css-content h2 {
    font: 700 20px/24px 'Roboto', Helvetica, Arial, sans-senif;
}

.css-content h3 {
    font: 700 18px/21px 'Roboto', Helvetica, Arial, sans-senif;
}

.align-center {
    width: 100% !important;
    text-align: center;
}

.css-content em {
    font-style: italic;
}

.css-content em strong {
    font-style: oblique;
}

.css-content p {
    line-height: 2em;
    padding-top: 10px;
    color: #333;
}

.css-content table {
    max-width: 100%;
    margin: 0 auto 10px;
    border-collapse: collapse;
    border-spacing: 0;
}

.css-content table th,
.css-content table td {
    border: 1px solid #ccc;
}

.css-content ul,
.css-content ul li {
    list-style-type: disc;
    margin-left: 10px;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.css-content ul li {
    list-style-type: disc;
    margin-left: 30px;
    margin-bottom: 0.5em;
    line-height: 1.4em;
    color: #333;
}

.css-content ol {
    list-style: decimal;
    padding: 0 0 0 15px;
    margin: 0;
}

.css-content ol li {
    list-style-type: disc;
    margin-left: 30px;
    margin-bottom: 0.5em;
    line-height: 1.4em;
}

.css-content img {
    max-width: 100%;
    height: auto;
}

.css-content blockquote {
    margin-left: 20px;
    font-style: italic;
}


/* Scollbar */

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: #ccc;
}

::-webkit-scrollbar-thumb {
    background: #333;
}

::-webkit-scrollbar-thumb:hover {
    background: #333;
}
